<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp microservice - express.js and node.js</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
   <body>
      <header class="header">
        <div class="header__container">
            <h1 class="header__container__title">API Project:<span class="header__container__title--strong">Timestamp Microservice</span></h1>
        </div>
      </header>
      <section>
        <div class="section__container">
            <h2 class="section__container__title">User Stories</h2>
            <ol class="section__container__stories">
              <li>The API endpoint is <code>GET [project_url]/api/ timestamp /:date_string?</code></li>
              <li>A date string is valid if can be successfully parsed by <code>new Date(date_string)</code>.<br>
              Note that the unix timestamp needs to be an <strong>integer</strong> (not a string) specifying <strong>milliseconds</strong>.<br> 
              In our test we will use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an UTC timestamp.</li>
              <li>If the date string is <strong>empty</strong> it should be equivalent to trigger <code>new Date()</code>, i.e. the service uses the current timestamp.</li>
              <li>If the date string is <strong>valid</strong> the api returns a JSON having the structure<br><code>{"unix": &lt;date.getTime()&gt;, "utc" : &lt;date.toUTCString()&gt; }</code><br>
                e.g. <code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
              <li>If the date string is <strong>invalid</strong> the api returns a JSON having the structure <br>
                  <code>{"error" : "Invalid Date" }</code>.
              </li>
            </ol>
            <h2 class="section__container__title section__container__spacer">Example Usage</h2>
            <ul class="section__container__usage">
              <li><a href="api/timestamp/2015-12-25" class="section__container__content__link">[url]/api/timestamp/2015-12-25</a></li>
              <li><a href="api/timestamp/1451001600000" class="section__container__content__link">[url]/api/timestamp/ 1451001600000</a></li>
              <li><a href="api/timestamp/" class="section__container__content__link">[url]/api/timestamp/</a></li>
            </ul>
            <h2 class="section__container__title  section__container__spacer">Example Output</h2>
            <code class="section__container__code">
              {"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}
            </code>
        </div>
      </section>
   </body>

</html>
